<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.url }}{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/img/logo-circle.png" alt="MAD.lair logo" style="max-width: 100px; margin-bottom: 10px;">
      </a>
      <h1 style="margin-top: 0;">
        <a href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item{% if page.url contains '/about/' %} active{% endif %}" href="{{ site.baseurl }}/about/">About</a>
      <a class="sidebar-nav-item{% if page.url contains '/category/math/' %} active{% endif %}" href="{{ site.baseurl }}/category/math/">Math</a>
      <a class="sidebar-nav-item{% if page.url contains '/category/music/' %} active{% endif %}" href="{{ site.baseurl }}/category/music/">Music</a>
      <a class="sidebar-nav-item{% if page.url contains '/category/rpgs/' %} active{% endif %}" href="{{ site.baseurl }}/category/rpgs/">RPGs</a>
      <a class="sidebar-nav-item{% if page.url contains '/category/shards/' %} active{% endif %}" href="{{ site.baseurl }}/category/shards/">Shards</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
